streamlit
pandas
pdfplumber
python-docx
sqlalchemy
psycopg2-binary
numpy==1.26.4
sentence-transformers
torch
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl